<input #element>

<button type="button" (click)="addElement(element.value); element.value =''">Add</button>

<ul>
    <li *ngFor="let elem of list">{{elem}}</li>
</ul>

<input type="date" [(ngModel)]="this.dateString" (change)="setDate()">
<p>{{tarea.date.toDateString()}}</p>
<!-- <button (click)="setDate()"> Click</button> -->


<button type="button" class="btn btn-outline-secondary me-2" placement="end"
        ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." popoverTitle="Popover on right">
  Popover on right
</button>