body {
    background: #ff00ff;
}

.header {
    grid-area: header;
    background: red;
}

.navbar {
    grid-area: perro;
    background: blue;
}

.main {
    grid-area: main;
    background: green;
}

.footer {
    grid-area: footer;
    background: yellow;
}

.asd {
    grid-area: asd;
    background: white;
}


.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 55% 30%;
    grid-template-areas: 
        "header header header header"
        "perro main main asd"
        "perro footer footer footer";
}