<p>lucia works!</p>
<div class="container">
    <div class="header">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci repudiandae voluptatibus doloremque id libero ex consequuntur possimus temporibus, aliquid nam numquam sapiente? Minus nulla vitae, sequi quas quod blanditiis!</p>
    </div>

    <div class="main">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci repudiandae voluptatibus doloremque id libero ex consequuntur possimus temporibus, aliquid nam numquam sapiente? Minus nulla vitae, sequi quas quod blanditiis!</p>
    </div>

    <div class="navbar">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci repudiandae voluptatibus doloremque id libero ex consequuntur possimus temporibus, aliquid nam numquam sapiente? Minus nulla vitae, sequi quas quod blanditiis!</p>
    </div>

    <div class="asd">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci repudiandae voluptatibus doloremque id libero ex consequuntur possimus temporibus, aliquid nam numquam sapiente? Minus nulla vitae, sequi quas quod blanditiis!</p>
    </div>

    <div class="footer">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur adipisci repudiandae voluptatibus doloremque id libero ex consequuntur possimus temporibus, aliquid nam numquam sapiente? Minus nulla vitae, sequi quas quod blanditiis!</p>
    </div>
</div>
