#tableName{
    text-align: center;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.headElement{
    background-color: aliceblue;
    font-weight: bolder;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}


.nameTask{
    text-align: center;
    width: 20%;
}


.descriptionTask{
    width: 70%;
}


.dateTask{
    text-align: center;
    width: 10%;
}