<input type="text" #pokemonName placeholder="Pokemon Name">
<input type="text" #newPokemonUrl placeholder="New Pokemon Url">
<br><br>
<button (click)="get()">Read All</button> <br><br>
<button (click)="getSingle(pokemonName.value)">Read Single</button> <br><br>
<button (click)="add(pokemonName.value, newPokemonUrl.value)">Add</button> <br><br>
<button (click)="put(pokemonName.value, newPokemonUrl.value)">Put</button> <br><br>
<button (click)="delete(pokemonName.value)">Delete</button> <br><br>

<h5>{{pokemon.name}} | {{pokemon.url}}</h5>

<ul>
    <li *ngFor="let pokemon of pokemonList">
        {{pokemon.name}} | {{pokemon.url}}
    </li>
</ul>

