.full-height {
    height: 89.5%;
}

.padded {
    padding: 10px;
}

.with-icon {
    display: flex;
    align-items: center;
}

span {
    cursor: pointer;
}

.mat-sidenav{
    background-color: #283593;
}

.mat-sidenav-container{
    background-color: rgb(39, 39, 39);
}